.svg {
    background: forestgreen;
}

.token {
    fill: forestgreen;
    border: none;
}

.grid {
    stroke: black;
    stroke-width: 1px;
}

#info {
    position: absolute;
    width: 180px;
    height: 60px;
    padding: 2px;
    left: 115px;
    top: 175px;
    background: #ddddff;
    border: 1px solid black;
    border-radius: 10px;

    overflow: hidden;
    display: none;
}

.infocell {
     display: table-cell;
     vertical-align: middle;
}

#infoimagecell {
    width: 40px;
}

#infoimage {
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: left;
}

#infotext {
    text-align: center;
}
