
.game {
    background: forestgreen;
}

.left {
    float: left;
}

.right {
    float: right;
}

.all {
    width: 400px;
}

.font {
    font-family: Garamond;
}

.white {
    box-shadow: 0px 0px 0px 1px black inset;
}

.black {
    background: black;
    color: white;
}

.token {
    fill: forestgreen;
    border: none;
}

.grid {
    stroke: black;
    stroke-width: 1px;
}

.counterlabel {
    padding: 5px;
    width: 190px;
    text-align: center;
}

.box {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.combobox {
    width: 70px;
}

.newgamebutton {
    margin: 2px;
    width: 196px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
    background: #ffdddd;
}

.infocell {
    display: table-cell;
    vertical-align: middle;
}

#newgame {
    position: absolute;
    top: 450px;
    left: 100px;
    width: 200px;
    background: #ddddff;
}

#info {
    position: absolute;
    width: 180px;
    height: 60px;
    left: 115px;
    top: 175px;
    overflow: hidden;
    display: none;
    background: white;
}

#infoimagecell {
    width: 40px;
}

#infoimage {
    width: 30px;
    height: 30px;
    text-align: left;
}

#infotext {
    text-align: center;
}
