.svg {
    background: forestgreen;
}

.UNDEF {
    fill: forestgreen;
    border: none;
}

.WHITE {
    fill: white;
}

.BLACK {
    fill: black;
}

.grid {
    stroke: black;
    stroke-width: 1px;
}
